.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%; /* Utiliza el 100% del ancho disponible */
    width: 100%; /* Ajusta el ancho a tu preferencia */
    margin: 0 auto; /* Centra horizontalmente */
    margin-left: 60px;
    justify-content: center;
  }
  
  .container-scroller {

    height: 100vh; /* Para centrarlo verticalmente */
  }

  
  .title {
    font-size: 38px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(255, 255, 255, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    color: black;
    font-size: 16px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }


  .image-container {
    display: block;
    width: 100%;
    text-align: right;
  margin-top: 100px;
    max-width: 70%;
  }
  
  .image-container img {
    max-width: 100%;
  }
  
/* Estilos específicos para pantallas más pequeñas (menos de 800px) */
@media (max-width: 854px) {
  .image-container {
    display: none;/* Centra la imagen */
  }
  .form{
    width: 70%;
    margin-top: 50px;
    margin-left: 60px;

  }
}