.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    color: #fff;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #419139;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #37ff00;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline rgb(113, 225, 65);
  }
  
  .signin a {
    color: #22ff00;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: rgb(0, 255, 89);
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: rgb(60, 151, 23);
  }
  
  .submit:hover {
    background-color: rgba(0, 255, 42, 0.588);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  
  
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  
  
  .image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-top: 50px;
  }
  
  .form-image {
    width: 90%;
    height: auto;
    display: block;
    transition: 0.3s;
    margin-top: 100px;
  }
  @media (max-width: 1201px) {
    .form-image {
      margin-top: 140px;
    
    }
  
  }
  @media (max-width: 900) {
    .form-image {
      margin-top: 150px;
    
    }
  
  }
  
  /* Estilos para pantallas más pequeñas */
  @media (max-width: 800px) {
    .form-container {
      flex-direction: column;
    }
  
    .form {
      width: 90%;
    }
  
    .image-container {
      display: none;
    }
  }
  